SUPABASE_URL=https://sfqpptquojlsbeheguff.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmcXBwdHF1b2psc2JlaGVndWZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDEyNDk3ODMsImV4cCI6MjA1NjgyNTc4M30.4qFstq4_k24kQyqNfS_b6QcM_G4S_Q0S1J3-2_S0t0t

# GITHUB ACTIONS DISPATCH CONFIGURATION
GITHUB_OWNER=kevopedra-star
GITHUB_REPO=procesador-facturas-siat
GITHUB_PAT=your_github_personal_access_token_here
